
body{
    background-image: url(https://assets.visitmilwaukee.org/visitmke/media/global/General%20Images/Gallery%20Size/VM-Milwaukee-Skyline-Drone1.jpg?ext=.jpg&mode=crop&width=1920&height=1080&scale=both);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    color: whitesmoke;
    border-color: black;
    text-align: center center;
    font-size: relative;
    font-size: 5vw;
}
p{
    font-size: 3vw;
    font-size: relative;
}
.far{
    color: white;
    padding-top: 12px;
}
.fas{
    color: white;
    padding-top: 12px;
}
.card{
    width:50%;
    background-color: transparent;
    border-color: transparent;
    color: whitesmoke;
    text-align: center center;
    font-size: 3vw;
    font-size: relative;
    
}
.card-body{
    background-color: #343A40;
    border-radius: 30px;

}
.carousel-inner img{
    width: 100%;
    height:100%;
}

